<div class="menu-container">
  <mat-progress-bar
    [mode]="(loadingType$ | async) > 0 ? 'indeterminate' : 'determinate'"
    [value]="(loadingType$ | async) > 0 ? 0 : 100">
  </mat-progress-bar>
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="" (click)="handleOnMenuClick()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{name}}</span>
    <span class="example-spacer"></span>
    <span class="space-fill"></span>
    <p class="user-icon" [matMenuTriggerFor]="menu" attr.data-letters="{{userInitials}}"></p>
    <mat-menu class="user-menu" #menu="matMenu" yPosition="above">
      <div class="user-menu-width"></div>
      <button mat-menu-item (click)="navigateToProfile()">
        <mat-icon>account_circle</mat-icon>
        <span>My profile</span>
      </button>
      <button mat-menu-item (click)="handleOnSignOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>
