html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 1% url("app/ui/assets/background-image.svg") repeat;

  @media screen and (min-width: 1024px) {
    background-size: 20% auto;
  }

  @media screen and (min-width: 769px) and (max-width: 1023px) {
    background-size: 40% auto;
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    background-size: 70% auto;
  }

  @media screen and (max-width: 425px) {
    background-size: 100% auto;
  }
}
